/* Home Section Styling*/

h1.tagline-1{
  font-family: 'Ubuntu';
  font-size: 60px;
  color: wheat;     /*#E7D8C9;*/
  text-shadow: 3px 3px 3px #816661;
}

.carousel-item {
    height: 100vh;
    min-height: 80%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .headliner{
    position: relative;
    left: 150px;
    top: 150px;
  }

  .headliner2{
    position: absolute;
    left: 150px;
    top: 150px;
  }

  .fixed-top{
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  h1.general-heading{
    font-family: 'Ubuntu';
    font-size: 32px;
    color: #8B694D;
    text-align: center;
    vertical-align: middle;
  }

   /* Articles Page CSS*/
   section#articles {
    background: #F7F2ED;
  }

  h1.general-heading{
    font-family: 'Ubuntu',sans-serif;
    font-size: 36px;
    color: #8B694D;
    text-align: center;
    vertical-align: middle;
  }

  h2.general-sub-heading{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #8B694D;
    text-align: center;
    vertical-align: middle;
  }

  .title-bar{
    justify-content: center;
    align-items: center;
  }
   
  .card-deck .card .card-img-top{
    background-color: lightblue; /*fall-back in case image fails*/
    border: none;
  }

  .card-body{
    color: #8b694d;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .card-body > footer {
    color: #8b694d;
    font-family: 'Source Sans Pro', sans-serif;
  }

    #articles .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 2px 2rem 2rem 0 rgba(0, 0, 0, 0.5);
    }


    /*Services Type Page CSS*/
    section#service-types {
      background: #F7F2ED;
    }

    .card .card-img{
      background-color: lightblue; /*fall-back in case image fails*/
      width: 18rem;
      height: 18rem;
      border: none;
    }

    .flip-card > div {
      backface-visibility: hidden;
      transition: transform 500ms;
      transition-timing-function: linear;
      margin: 0;
      border: none;
    }

    .flip-card-front {
      transform: rotateY(0deg);
      background-color: #bbb;
      color: #8b694d;
    }

    .flip-card-back {
      transform: rotateY(180deg);
      position: absolute;
      background-color: #E7D8C9;
      color: #8b694d;
      text-align: center;
      justify-content: center;
      align-items: center;
      height:100%;
      width: 100%;
    }

    .flip-card:hover .flip-card-front {
      transform: rotateY(-180deg);
    }
      
    .flip-card:hover .flip-card-back {
      transform: rotateY(0deg);
    }

   /* Pricing Page CSS*/
   section#pricing {
    background: #F7F2ED;
  }

  #pricing .card-header{
    background-color: #8B694D;
    border-radius: 30px 30px 0 0;
  }
  #pricing .card {
    border: none;
    border-radius: 30px;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }

  #pricing .card-title {
    margin: 0.5rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: bold;
    color: wheat;
  }

  #pricing .card-price {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.2rem;
    margin: 0;
    color: wheat;
  }
  
  #pricing .period {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    color: wheat;
  }

  #pricing ul li {
    margin-bottom: 0.5rem;
    font-family: 'Source Sans Pro', sans-serif;
  }

  #pricing .btn {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.75;
    background-image: radial-gradient(#423224,#AE896B);
    color: wheat;
  }

  #pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  #pricing .card:hover .btn {
    opacity: 1;
  }
